/* Animation CSS */

.fade-in {
    opacity: 0;
}
.scale {
    transform: scale(.8);
}

@keyframes floatBadge {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero::after {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background: radial-gradient(circle,rgba(124, 58, 237, .15),transparent 70%);
    left: -250px;
    bottom: -250px;
    filter: blur(70px);
    pointer-events: none;
}